.single-service #et-main-area .wrapper h1,
.single-service #et-main-area .wrapper p{
	text-align: center;
}

.single-service #et-main-area .wrapper p{
	padding: 1em;
	line-height: 1.4em;
  font-size: 17px;
}