.page-blog .et_pb_sidebar_0 .widgettitle{
   text-transform: uppercase;
   color:#560570;
   border-bottom:1px solid #C0BDBD;
   line-height: 10px;
   margin-bottom: 1em;
}


.page-blog .et_pb_sidebar_0.et_pb_widget_area_right{
	border-left:none;
}

.page-blog .et_pb_column_0{
	box-shadow:13px 0px 60px -42px black;
	box-sizing:border-box;
	padding: 1em;
}

.page-blog .et_pb_gutters3 .et_pb_column_3_4, .et_pb_gutters3.et_pb_row .et_pb_column_3_4{
	margin:0;
}